<!-- wp:template-part {"slug":"header","theme":"myaitheme","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"top":"3rem"}}}} /--><!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/9"} /--><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"myaitheme","tagName":"footer"} /-->
