<!-- wp:template-part {"slug":"header","theme":"myaitheme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
    <!-- wp:heading {"level":1} -->
    <h1>Page not found</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Sorry, we couldn't find the page you're looking for.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"myaitheme","tagName":"footer"} /-->